/CCKS2019-IPRE/bag_relation_dev.txt
/CCKS2019-IPRE/bag_relation_test.txt
/CCKS2019-IPRE/bag_relation_train.txt
/CCKS2019-IPRE/relation2id.txt
/CCKS2019-IPRE/sent_dev.txt
/CCKS2019-IPRE/sent_relation_dev.txt
/CCKS2019-IPRE/sent_relation_test.txt
/CCKS2019-IPRE/sent_relation_train.txt
/CCKS2019-IPRE/sent_test.txt
/CCKS2019-IPRE/sent_train.txt
/CCKS2019-IPRE/text.txt
/.idea/workspace.xml
