/CCKS2019-IPRE/bag_relation_dev.txt
/CCKS2019-IPRE/bag_relation_test.txt
/CCKS2019-IPRE/bag_relation_train.txt
/CCKS2019-IPRE/relation2id.txt
/CCKS2019-IPRE/sent_dev.txt
/CCKS2019-IPRE/sent_relation_dev.txt
/CCKS2019-IPRE/sent_relation_test.txt
/CCKS2019-IPRE/sent_relation_train.txt
/CCKS2019-IPRE/sent_test.txt
/CCKS2019-IPRE/sent_train.txt
/CCKS2019-IPRE/text.txt
/.idea/workspace.xml
/pretrain_ckpt/chinese_L-12_H-768_A-12/bert_config.json
/pretrain_ckpt/chinese_L-12_H-768_A-12/bert_model.ckpt.data-00000-of-00001
/pretrain_ckpt/chinese_L-12_H-768_A-12/bert_model.ckpt.index
/pretrain_ckpt/chinese_L-12_H-768_A-12/bert_model.ckpt.meta
/pretrain_ckpt/chinese_L-12_H-768_A-12/vocab.txt
