# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\BERT-CH-PERSON-OpenNER\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
